<!doctype html>
<html lang="en" class="h-100">
    <head>
        {% block head %}
        {{ moment.include_moment() }}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <style>
                .g-recaptcha {
                    display: inline-block;
                    width: fit-content;
                }
            </style>
        {% endblock %}

        <title>{{ page_title|default('Default Title') }}</title>

        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <!-- Your page content -->
        {% block content %}
        {% endblock %}
        {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>